<footer class="site-footer">
    <div class="footer-container">

        <div class="footer-section brand-info">
            <h3><%- activity %></h3>
            <p>プログラミングを通して各員が人間として成長する機会を、提供することを約束いたします。</p>
            <a href="/top"><p>TOPページへ</p></a>
            <!-- <p class="copyright">&copy; 2025 [会社/サイト名]. All Rights Reserved.</p> -->
        </div>

        <div class="footer-section nav-links">
            <h4>リンク</h4>
            <ul>
                <li><a href="/special#:~:text=%E3%81%AE%E9%9B%86%E5%90%88%E5%86%99%E7%9C%9F-,%E4%BD%9C%E5%93%81%E7%B4%B9%E4%BB%8B,-%E3%82%A6%E3%82%A7%E3%83%96%E3%83%9A%E3%83%BC%E3%82%B8">作品紹介</a></li>
                <li><a href="#">学校ホームページ（ダミー）</a></li>
                <li><a href="#">SNS（ダミー）</a></li>
                <li><a href="#">その他部活動（ダミー）</a></li>
            </ul>
        </div>

        <div class="footer-section contact-social">
            <h4>サポート & フォロー</h4>
            <ul>
                <li><a href="https://forms.gle/uwMjDyMERUSKWR87A">入部案内</a></li>
                <li><a href="https://forms.gle/MBvEFK4cqvcbop9b8 ">お問い合わせ</a></li>
                <li><a href="#">プライバシーポリシー（未）</a></li>
            </ul>
            <!-- <div class="social-icons">
                <a href="#"></a>
                <a href="#"></a>
                <a href="#"></a>
            </div> -->
        </div>

    </div>
</footer>
</body>
</html>