<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        @import url('/styles/style.css');
    </style>
    <title><%= activity %> ホームページ</title>
</head>
<body>
