<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= activity %> ホームページ</title>
</head>
<body>

<h1> <%= activity %></h1>
<div>
    <ul>
        <li><a href="/">About</a></li>
        <li><a href="/news">News</a></li>
        <li><a href="/members">Members</a></li>
        <li><a href="/join">Join</a></li>
        
    </ul>
</div>