<body>

<h1 id="header"> <%= activity %></h1>
<div>
    <ul id="navi">
        <li><a href="/top">Join</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/news">News</a></li>
        <li><a href="/members">Members</a></li>
        <li><a href="/join">Join</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>
</div>