<div class="nav-wrapper">
    <ul class="nav">
        <li><a href="/top" <% if (currentPage=="top" ){%> class=currentPage <%}%> >TOP</a></li>
        <li><a href="/about" <% if (currentPage=="about" ){%> class=currentPage <%}%> >ABOUT</a></li>
        <li><a href="/news" <% if (currentPage=="news" ){%> class=currentPage <%}%> >NEWS</a></li>
        <li><a href="/members" <% if (currentPage=="members" ){%> class=currentPage <%}%> >MEMBERS</a></li>
        <li><a href="/join" <% if (currentPage=="join" ){%> class=currentPage <%}%> >JOIN</a></li>
        <li><a href="/contact" <% if (currentPage=="contact" ){%> class=currentPage <%}%> >CONTACT</a></li>
    </ul>
</div>