<div class="nav-wrapper">
    <ul class="nav">
        <li><a href="/top" <% if (currentPage=="top" ){%> class=currentPage <%}%> >TOP</a></li>
        <li><a href="/about" <% if (currentPage=="about" ){%> class=currentPage <%}%> >ABOUT</a></li>
        <li><a href="/news" <% if (currentPage=="news" ){%> class=currentPage <%}%> >NEWS</a></li>
        <li><a href="/members" <% if (currentPage=="members" ){%> class=currentPage <%}%> >MEMBERS</a></li>
        <li><a href="/special" <% if (currentPage=="special" ){%> class=currentPage <%}%> >SPECIAL</a></li>
        <li><a href="/this_is" <% if (currentPage=="this_is" ){%> class=currentPage <%}%> >THIS IS</a></li>
    </ul>
</div>