<%- include('partial/head.ejs') %>

    <div class="main">
        <%- include('partial/header.ejs') %>
            <%- include('partial/nav.ejs') %>
                <div class="page-wrapper">
                    <div class="container">
                        <div class="contents-wrapper">
                            <div class="main-contents width-max">
                                <div class="sections-wrapper">
                                    <div class="section width-max shadow">
                                        <h2 class="section-title">活動写真</h2>
                                        <div class="contents-wrapper flex-wrap">
                                            <div class="item">
                                                <img src="/images/special/special_picture01.png">
                                                <p>プログラミングを教えあう部員</p>
                                            </div>
                                            <div class="item">
                                                <img src="/images/special/special_picture02.png">
                                                <p>スパゲティをすする顧問</p>
                                            </div>
                                            <div class="item">
                                                <img src="/images/special/special_picture03.png">
                                                <p>組体操 演舞 -ITの字-</p>
                                            </div>
                                            <div class="item">
                                                <img src="/images/special/special_picture04.png">
                                                <p>前身団体である「そめろボん会」の集合写真</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="section width-max shadow">
                                        <h2 class="section-title">作品紹介</h2>
                                        <div class="contents-wrapper flex-wrap">
                                            <div class="item">
                                                <img src="/images/special/special_product01.png">
                                                <p>ウェブページ</p>
                                            </div>
                                            <div class="item">
                                                <img src="/images/special/special_product02.png">
                                                <p>自作コンピュータ</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <%- include('partial/footer.ejs') %>
    </div>