<%- include('partial/header.ejs') %>

<div>
    <h2>概要</h2>
    <p> <%= activity %>は、プログラミングコンテストに参加し、技術力を高めることを目的とした学生団体です。多様なバックグラウンドを持つメンバーが集まり、切磋琢磨しながら成長しています。</p>
</div>

<div>
    <h2>理念</h2>
    <p>私たち <%= activity %> は、技術の探求と創造を通じて、未来の可能性を広げることを使命としています。チームワークと革新を重んじ、共に成長し続けることを目指します。</p>
</div>


<div>
    <h2>Recent News</h2>
    <div>
        <ul>
            <li>Update 1: New features added.</li>
            <li>Update 2: Bug fixes implemented.</li>
            <li>Update 3: Performance improvements.</li>
        </ul>
    </div>
    
</div>

<%- include('partial/footer.ejs') %>