<%- include('partial/head.ejs') %>

    <div class="main">
        <%- include('partial/header.ejs') %>
            <%- include('partial/nav.ejs') %>
                <div class="container">
                    <div class="contents-wrapper">
                        <div class="main-contents">
                            <div class="sections-wrapper">
                                <div class="section shadow width-max">
                                    <h2 class="section-title">部員紹介</h2>
                                    <div class="members-introductions">
                                        <div class="member-items">
                                            <img src="/images/members/中村 陽太.png" alt="member-image" class="member-image">
                                            <h3>中村 陽太</h3>
                                            <p>
                                                <span>学年</span>
                                                <span>学科</span>
                                                <span>開発経験</span>
                                                <span>github</span>
                                            </p>
                                        </div>
                                        <div class="member-items">
                                            <img src="/images/members/中村 陽太.png" alt="member-image" class="member-image">
                                            <h3>中村 陽太</h3>
                                            <p>
                                                <span>学年</span>
                                                <span>学科</span>
                                                <span>開発経験</span>
                                                <span>github</span>
                                            </p>
                                        </div>
                                        <div class="member-items">
                                            <img src="/images/members/中村 陽太.png" alt="member-image" class="member-image">
                                            <h3>中村 陽太</h3>
                                            <p>
                                                <span>学年</span>
                                                <span>学科</span>
                                                <span>開発経験</span>
                                                <span>github</span>
                                            </p>
                                        </div>
                                        <div class="member-items">
                                            <img src="/images/members/中村 陽太.png" alt="member-image" class="member-image">
                                            <h3>中村 陽太</h3>
                                            <p>
                                                <span>学年</span>
                                                <span>学科</span>
                                                <span>開発経験</span>
                                                <span>github</span>
                                            </p>
                                        </div>
                                        <div class="member-items">
                                            <img src="/images/members/中村 陽太.png" alt="member-image" class="member-image">
                                            <h3>中村 陽太</h3>
                                            <p>
                                                <span>学年</span>
                                                <span>学科</span>
                                                <span>開発経験</span>
                                                <span>github</span>
                                            </p>
                                        </div>
                                        <div class="member-items">
                                            <img src="/images/members/中村 陽太.png" alt="member-image" class="member-image">
                                            <h3>中村 陽太</h3>
                                            <p>
                                                <span>学年</span>
                                                <span>学科</span>
                                                <span>開発経験</span>
                                                <span>github</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="side-contents">
                            <div class="sections-wrapper">
                                <div class="section shadow width-max">
                                    <h2 class="section-title">Side Menu</h2>
                                    <div class="list-wrapper">
                                        <ul class="list font-small">
                                            <li><a href="/members">全員</a></li>
                                            <li><a href="/members">顧問</a></li>
                                            <li><a href="/members">４年</a></li>
                                            <li><a href="/members">３年</a></li>
                                            <li><a href="/members">２年</a></li>
                                            <li><a href="/members">１年</a></li>
                                        </ul>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    </div>

    <%- include('partial/footer.ejs') %>