<%- include('partial/head.ejs') %>

    <div class="main">
        <%- include('partial/header.ejs') %>
            <%- include('partial/nav.ejs') %>
                <div class="container">
                    <div class="contents-wrapper">
                        <div class="main-contents width-max">
                            <div class="sections-wrapper">
                                <div class="section width-max shadow">
                                    <h2 class="section-title">Recent News</h2>
                                    <div class="list-wrapper">
                                        <ul class="list font-small">
                                            <li class="nowrap"><a></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    </div>

    <%- include('partial/footer.ejs') %>